*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-style: normal;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: rgb(235, 193, 193)
}
.container{
    width: 620px;
    background: rgb(226, 37, 37);
}
.container .inputbox{
    position: relative;
    width: 100%;
    height: 300px;
    background: rgb(222, 135, 135);
}
.inputbox input{
    width: 70%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgb(230, 190, 190);
    border-radius: 40px;
}